body {
  background-color: #69DADB;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', verdana, Arial, sans-serif;
}

/** colorscheme is found at: https://colorhunt.co/palette/f4f9f9ccf2f4a4ebf3aaaaaa **/


.topcontainer {
  background-color: #A4EBF3;
  position: relative;
  padding-top: 100px
}
      .bottom-cloud {
        position: absolute;
        left: 300px;
        bottom: 300px;
      }

      .top-cloud {
        position: absolute;
        right: 300px;
        top: 50px;
      }

      .topintro {
        font-family: 'Open Sans';
        font-size: 20px;
        margin-top: 0;
      }

      .introname {
        display: inline;
      }
.middle-container {
  background-color: #CCF2F4;
  padding-top: 20px;
  padding-bottom: 20px;

}
  .skill1 {
    background-size: 75px;
  }

.bottom-container {
    background-color: #A4EBF3;
    padding: 20px;
}

.nerd {
  text-decoration: underline;
}


.pix {
  display: inline-block;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sacramento';
  font-size: 562.5%;
}
p {
  margin-left: 5em;
  margin-right: 5em;
}
